---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <!--<AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />-->

  <HeroSection
    title=`Transforma tu negocio con <span
        class="text-yellow-500 dark:text-yellow-400">Kaktus POS</span>`
    subTitle="La solución integral en software y hardware para puntos de venta."
    primaryBtn="Explorar productos"
    primaryBtnURL="/products"
    secondaryBtn="Contáctanos"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews="De más de <span class='font-bold'>15k</span> Opiniones"
    src={heroImage}
    alt="Interfaz de Kaktus POS mostrando una pantalla con opciones de gestión de ventas"
    />

  <ClientsSection
    title="Líderes de la Industría Confían en Nosotros"
    subTitle="Transforma tu negocio con una solución POS de confianza y tecnología avanzada."
  />

  <FeaturesGeneral
    title="Cumpliendo con las Necesidades de tu Negocio"
    subTitle="En Kaktus, entendemos los desafíos únicos de los pequeños negocios. Ofrecemos un sistema POS accesible, flexible y eficiente para que puedas concentrarte en lo que más importa."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Personaliza las funcionalidades de <span class="text-yellow-500 dark:text-yellow-400">Kaktus</span> para adaptarlo perfectamente a las necesidades de tu negocio.`
    tabs={[
      {
        heading: "Herramientas Avanzadas",
        content:"Potencia tus ventas con las herramientas avanzadas de Kaktus. Con nuestras soluciones automatizadas, podrás gestionar tu inventario, ventas y más de manera eficiente.",
        svg: "tools",
        src: tools,
        alt: "Sistema POS mostrando interfaz de herramientas avanzadas",
        first: true,
      },
      {
        heading: "Paneles de Control Intuitivos",
        content:
          "Navega con facilidad gracias a los paneles de control intuitivos de Kaktus. Supervisa tus ventas, inventarios y reportes de manera clara y accesible, todo desde una sola pantalla.",
        svg: "dashboard",
        src: dashboard,
        alt: "Pantalla mostrando un panel de control de Kaktus",
        second: true,
      },
      {
        heading: "Características Robusta y Flexibles",
        content:"Reduce la complejidad y aumenta la productividad. Kaktus está diseñado para ofrecerte un sistema POS completo que se adapta a las necesidades de tu negocio, ya sea un restaurante, tienda o más.",
        svg: "house",
        src: construction,
        alt: "Dueño de negocio gestionando operaciones desde un dispositivo móvil",
      },
    ]}
  />

  <TestimonialsSection
  title="Optimiza tus Operaciones al Instante"
  subTitle="Con Kaktus, disfruta de una implementación rápida y fácil. Experimenta la eficiencia redefinida para tu negocio."
  testimonials={[
    {
      content:
        "Kaktus transformó la forma en que gestionamos nuestro negocio. La configuración fue instantánea y la atención al cliente es excepcional. Un cambio radical para nuestra eficiencia operativa.",
      author: "Carlos Gómez",
      role: "Director General | La Casa del Sabor",
      avatarSrc:
        "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    },
  ]}
  statistics={[
    {
      count: "50k+",
      description:
        "negocios gestionados — desde restaurantes hasta tiendas minoristas",
    },
    {
      count: "40%",
      description:
        "incremento en la eficiencia operativa con el sistema POS Kaktus",
    },
    {
      count: "20%",
      description:
        "reducción en costos operativos reportada por nuestros clientes más fieles",
    },
    {
      count: "1.5x",
      description: "mayor rapidez en las transacciones gracias a Kaktus",
    },
  ]}
/>


  <PricingSection pricing={pricing} />

  <!--<FAQ title="Frequently<br />asked questions" faqs={faqs} />-->

  <!--<HeroSectionAlt
  title="Construyamos Juntos"
  subTitle="Kaktus es una solución POS flexible y escalable, creada para adaptarse a las necesidades de tu negocio. Diseñado con las mejores tecnologías para ofrecerte una experiencia eficiente y sencilla."
  url="https://github.com/KaktusPOS" 
  />-->
</MainLayout>
